<%- include('./partials/header.ejs') %>
    <div class="row">
        <div class="col-sm" style="display: flex; justify-content: center; align-items: center; padding: 10px; height:100vh;">
            <div class="card" style="width: auto; height: auto; background-color: rgba(245, 245, 245, 0.6);">
                <div class="card-body">
                   <%- body %>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>